<!DOCTYPE html>
<html>
<head>
  <title> Careers</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <h1 class="text-center mt-4">{{ company_name }} Techno Careers</h1>

    <img class="img-fluid" id="banner" src="{{ url_for('static', filename='banner.jpg') }}" alt="Banner Image" width="100%">

    <h2 class="text-center mt-4 mb-3">About Techno</h2>
    <p class="lead">
      A career is a journey of professional growth and personal development, shaped by your skills, interests, and goals. It involves pursuing meaningful work, gaining experience, and continuously learning to achieve success and fulfillment. A strong career not only provides financial stability but also a sense of purpose and identity in life.
    </p>

    <h2 class="text-center mt-4 mb-3">Open Positions</h2>

    <div>
      {% for job in jobs %}
        {%include 'jobitem.html'%}
      {% endfor %}
    </div>

    <div class="text-center mt-4">
      <button class="btn btn-primary btn-lg">Contact Us</button>
      <p class="mt-4">Copyright 2025, Techno</p>
    </div>
  </div>
</body>
</html>
